.avatar.row {
  display: block;
  vertical-align: center;
  .avatar-wrapper {
    display: inline-block;
    .avatar-icon {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .avatar-name {
    padding-left: 10px;
    font-size: 14px;
    color: #FFFFFF;
  }
}